<footer class="bg-dark footer mt-auto">
    <div class="container py-1 text-muted">
        <h3 class="d-inline" style="color: rgb(252, 252, 252);">Connect</h3> 
        <div class="d-inline p-4" style="font-size: 1.5rem;">
            <a href="https://www.youtube.com" target="_blank" class="p-1" style="text-decoration: none; color: #c2c1c1;;"><i class="fab fa-youtube"></i></a>
            <a href="https://www.instagram.com" target="_blank" class="p-1" style="text-decoration: none; color: #c2c1c1;"><i class="fab fa-instagram"></i></a>
            <a href="https://www.facebook.com" target="_blank" class="p-1" style="text-decoration: none; color: #c2c1c1;"><i class="fab fa-facebook-square"></i></a>
            <a href="https://www.linkedin.com/in/arpit5437/" target="_blank" class="p-1" style="text-decoration: none; color: #c2c1c1;"><i class="fab fa-linkedin"></i></a>
            <a class="" style="text-decoration: none;color: rgb(252, 252, 252); float:right;"><i class="fas fa-phone"> </i> <span > 765-373-2426</span></a> 
        </div>
        <hr style="height:2px;">
    </div>
    <div class="row m-0 p-0" style="color: #615667;">
        
    </div>
    <div class="container py-1">
        <div class="text-center"><span class="text-muted">&copy;2021 Made It Easy, All Rights Reserved</span></div>
    </div>
</footer>